/*Base*/

html {
    overflow-y: scroll;
}

/*body {
    color: #5f5f5f;
    background-color: #FFFFFF;
}*/

.main {
    position: relative;
    background-color: #FFFFFF;
    overflow: hidden;
    z-index: 1;
}

a {
    color: #1140c9;
}

a:focus,
a:hover {
    color: #0d319a;
}

.gap {
    display: block;
    height: 20px;
}

/*Typography*/

/*html {
    font-size: 15px;
}*/

body {
    font-family: "Work Sans", sans-serif;
    line-height: 1.65;
    letter-spacing: 0.004em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin-bottom: 1.6rem;
}

b, strong {
    font-weight: bold;
}

.heading-font {
    font-family: "Work Sans", serif;
    letter-spacing: 0.02em;
}

/* Headings */

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: "Work Sans", serif;
    color: #000308;;/*basically white*/
    font-weight: bold;
    margin-bottom: 1rem;
}

.display-1,
.display-2,
.display-3,
.display-4 {
    font-family: "Work Sans", serif;
    color: #171717;
    font-weight: bold;
}

.display-1 {
    font-size: 4.1rem;
}

.display-2 {
    font-size: 3.6rem;
}

.display-3 {
    font-size: 3.4rem;
}

.display-4 {
    font-size: 3rem;
}
.h2, h2 {
    font-size: 2.1rem;
}

.h3, h3 {
    font-size: 1.69rem;
}

.h4, h4 {
    font-size: 1.4rem;
}

/*Bootstrap*/

.nk-sidebar-sticky-parent {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
}

.nk-sidebar-sticky-parent > .nk-sidebar {
    -ms-flex: 1;
        flex: 1;
}

/* Nav Header */

.header {
    position: relative;
}


/*Footer*/

.footer {
    position: relative;
    background-color: #FFFFFF;
    overflow: hidden;
    z-index: 1;
    padding-top: 60px;
    padding-bottom: 100px;
}

/*Element Isotope*/

.isotope:after {
    content: '';
    display: table;
    clear: both;
}

.isotope.isotope-gap {
    margin: -15px;
}

.isotope.isotope-gap .isotope-item {
    padding: 15px;
}

.isotope .isotope-item {
    display: block;
    width: 25%;
    float: left;
}

.isotope .isotope-item.isotope-item-x2 {
    width: 50%;
}

.isotope .isotope-item.isotope-item-x3 {
    width: 75%;
}

.isotope.isotope-3-cols .isotope-item {
    width: 33.332%;
}

.isotope.isotope-3-cols .isotope-item.isotope-item-x2 {
    width: 66.665%;
}

.isotope.isotope-3-cols .isotope-item.isotope-item-x3 {
    width: 100%;
}

.isotope.isotope-2-cols .isotope-item.isotope-item-x2, .isotope.isotope-2-cols .isotope-item.isotope-item-x3 {
    width: 100%;
}

.isotope.isotope-1-cols .isotope-item.isotope-item-x2, .isotope.isotope-1-cols .isotope-item.isotope-item-x3 {
    width: 100%;
}

@media (max-width: 1199px) {
    .isotope .isotope-item,
    .isotope.isotope-3-cols .isotope-item {
        width: 33.3334%;
    }
    .isotope .isotope-item.isotope-item-x2, .isotope .isotope-item.isotope-item-x3,
    .isotope.isotope-3-cols .isotope-item.isotope-item-x2,
    .isotope.isotope-3-cols .isotope-item.isotope-item-x3 {
        width: 100%;
    }
}

@media (max-width: 991px) {
    .isotope .isotope-item,
    .isotope.isotope-3-cols .isotope-item,
    .isotope.isotope-2-cols .isotope-item {
        width: 50%;
    }
    .isotope .isotope-item.isotope-item-x2, .isotope .isotope-item.isotope-item-x3,
    .isotope.isotope-3-cols .isotope-item.isotope-item-x2,
    .isotope.isotope-3-cols .isotope-item.isotope-item-x3,
    .isotope.isotope-2-cols .isotope-item.isotope-item-x2,
    .isotope.isotope-2-cols .isotope-item.isotope-item-x3 {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .isotope .isotope-item,
    .isotope .isotope-item.isotope-item-x2,
    .isotope .isotope-item.isotope-item-x3,
    .isotope.isotope-3-cols .isotope-item,
    .isotope.isotope-2-cols .isotope-item {
        width: 100%;
    }
}

/*Portfolio*/

.portfolio-list .portfolio-item {
    position: relative;
    overflow: hidden;
}

.portfolio-list .portfolio-item div.portfolio-item-image,
.portfolio-list .portfolio-item a.portfolio-item-image {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 80.34%;
    background-position: 50% 50%;
    background-size: cover;
    overflow: hidden;
}

.portfolio-list .portfolio-item div.portfolio-item-image img,
.portfolio-list .portfolio-item a.portfolio-item-image img {
    display: none;
}

.portfolio-list .portfolio-item img.portfolio-item-image {
    width: 100%;
}

.portfolio-list .portfolio-item div.portfolio-item-image > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: 50% 50%;
    background-size: cover;
}

.portfolio-list .portfolio-item.portfolio-item-square div.portfolio-item-image,
.portfolio-list .portfolio-item.portfolio-item-square a.portfolio-item-image {
    padding-bottom: 100%;
}

.portfolio-list .portfolio-item .portfolio-item-link {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.portfolio-list .portfolio-item .portfolio-item-title {
    color: inherit;
    margin-bottom: .5rem;
}

.portfolio-list .portfolio-item .portfolio-item-category {
    font-size: 0.95rem;
    line-height: .1px;
    text-transform: uppercase;
    font-weight: 200;
}

.portfolio-list .portfolio-item.portfolio-item-info-style-4 .portfolio-item-info {
    color: #000;
    padding: 21px 0;
}

.portfolio-list .portfolio-item.portfolio-item-info-style-4:hover .portfolio-item-info,
.portfolio-list .portfolio-item.portfolio-item-info-style-4.hover .portfolio-item-info {
    -ms-transform: translateY(0%);
        transform: translateY(0%);
}

.portfolio-list .portfolio-item.portfolio-item-info-style-4 .portfolio-item-title {
    margin-bottom: 0.85rem;
}

.portfolio-list .portfolio-item.portfolio-item-info-style-4 .portfolio-item-image > div {
    transition: .5s transform;
}

.portfolio-list .portfolio-item.portfolio-item-info-style-4:hover .portfolio-item-image > div, .portfolio-list .portfolio-item.portfolio-item-info-style-4.hover .portfolio-item-image > div {
    -ms-transform: scale(1.0);
        transform: scale(1.0);
}

/*Single Portfolio Item*/

.portfolio-single .portfolio-title {
    letter-spacing: 0.012em;
    margin-bottom: 1rem;
}

.portfolio-single .portfolio-details {
    width: 100%;
}

.portfolio-single .portfolio-details tr td {
    width: 1%;
    padding-right: 7px;
}

.portfolio-single .portfolio-details tr td + td {
    width: 100%;
    padding-right: 0;
}

.portfolio-single .portfolio-details tr + tr td {
    padding-top: 5px;
}

.portfolio-single .portfolio-details strong {
    color: #171717;
    font-weight: 500;
}

.portfolio-single .portfolio-details a {
    color: inherit;
    text-decoration: none;
    transition: .5s opacity;
}

.portfolio-single .portfolio-details a:hover {
    opacity: 0.6;
}

.portfolio-single .portfolio-text + .portfolio-details {
    margin-top: 46px;
}

.portfolio-single .portfolio-text p:last-of-type {
    margin-bottom: 0;
}

.container-fluid .portfolio-single.portfolio-single-half .portfolio-images {
    margin-left: -15px;
    margin-right: -15px;
}

.portfolio-single.portfolio-single-half .portfolio-info {
    /*max-width: 540px;*/
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.portfolio-images img {
    width: 100%;
    height: auto;
}

.sketchfab-embed-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.sketchfab-embed-wrapper iframe {
  position: absolute;
  top: 6%;
  left: 5%;
  width: 90%;
  height: 90%;
}
.sketchfab-embed-wrapper p {
  text-indent:5%
}
.myvideo {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.myvideo video {
  position: absolute;
  top: 0;
  left: 5%;
  width: 90%;
  height: 90%;
}

